.local
.project
.settings
.tmh
.variations/config.json
Core/Forms/AuthenticationPanel.html
Core/Forms/ControlPanel.html
Core/Forms/OUFoldersPanel.html
Core/Forms/FolderMigrationPanel.html
Test/Workbooks/Temp
[~][$]*